# Конфигурационные файлы
.env

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Виртуальное окружение
venv/
env/
.venv/
.env/

# Логи
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db